manifest {
  description = 'settings for gorg-classifier-v2'
  nextflowVersion = '21.10.6' //Do not update more than once annually, as new versions cannot run old caches.
  author = 'Greg Gavelis'
}

resume = true

profiles {
    charlie {
        process {
            executor = 'pbspro'
            queueSize = 100000
            module = 'singularity/3.8.0'
            queue = 'low'
            cpus = 1
            memory = '1 GB'
            errorStrategy = 'ignore'
            clusterOptions = '-W umask=0002 -l walltime=16:00:00'
        }
        singularity {
        	sandbox = true
            enabled = true
            autoMounts = true
            runOptions = '--bind /mnt'
            cacheDir = '/mnt/scgc_nfs/containers/'
            pullTimeout = '200 min'
        }
        executor {
            submitRateLimit = 10
            queueSize = 1000
        }
    }
}